@charset "UTF-8";

/* 범용 */
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

/* 레이아웃 */
header {
	height: 100px;
}
.contents {
	min-height: 500px;
}
footer {
	height: 100px;
}

/* 버튼 */
.btn-type-a {
	color: white;
	font-size: 25px;
	border: 2px solid #606060;
	box-shadow: 0 1px 3px gray;
}

/* 로그인 관련 */
.sign-in-box {
    width: 400px;
}
.sign-in-box > .form-control {
    font-size: 20px;
}

/* 회원가입 관련 */
.sign-up-box {
	width: 800px;
}